# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
instance/
app.db # SQLite database file
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# frontend/build/ # React build output, often ignored if served by Nginx in prod
# frontend/dist/  # Alternative build output dir

# IDE
.idea/
.vscode/
*.swp
